{{#section 'head'}}
    <meta name="description" content="Fale com desconhecidos online! Aperte apenas um botão, sem cadastro, papo livre, para amizade ou paquera!">
    <title>Fale com desconhecidos online! Aperte apenas um botão, sem cadastro, papo livre, para amizade ou paquera!</title>
{{/section}}

{{#section 'style'}}
<style>
    .anuncio{
    position: fixed;
    top: 0;
    bottom: 0;
    height: fit-content;
	width: 10%;
    margin: auto 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border-radius: 10px;
    padding: 5px;
    border: 1px solid silver;
	    background-image: radial-gradient(#edededb8, #efefef);
	}
	.anuncio h1{
		font-size: 15px;
	}
	.anuncio1{
	left: 0;
	
	}


	.anuncio2{
		right: 0;

	}
    .anuncio h1, .anuncio h2{
        margin: 0;
        margin-top: 5px;
    }

    
         .anuncio div{
     display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;
    height: 100%;
  
    }

   #item{
    max-height: 100%;
    max-width: 55%;
   
   }

   .logotipo{
        height: 14px;
   }

	.anuncio .div1{
        line-height: 1em;
        max-width: 50%;
       
    }
	

    footer{
	    box-sizing: border-box;
	position: absolute;
    bottom: 0;
    transform: translateY(100%);
    background: #0e0e0e;
    width: 100%;
    left: 0;
	display:flex;
	flex-direction:column;

	padding: 10px;
   
	}
	
	#rotas, #redes{
	display: flex;
	    gap: 15px;
    justify-content: center;
    padding: 5px;

	
	}
    footer p{
        color: white;
    }
	
	footer a{
	color: white;
    text-decoration: underline;
	
	}

    @media (max-width:900px) {
    footer{
      padding-bottom: 14vh;   
    }

    .anuncio{
        top: inherit;
    bottom: 0;
    left: 0;
    right: 0;
    width: 95%;
    max-width: 800px;
    margin: 10px auto;
    justify-content: space-around;
    flex-direction: row;
    height: 13vh;

    box-sizing: border-box;
    position: fixed;
   
    }

    .anuncio1{
        display: none;
    }

    .anuncio button a {
        font-size: 13px;
    }

    .anuncio div{
        gap: 5px;
            align-content: center;
    }
    .anuncio .div2{
            flex-direction: row;
    }

    .anuncio h1{
        font-size: 12px;
        margin: 0px;
    }
    .anuncio h2{
 
        font-size: 22px;
    }

    #item{

    }

    .logotipo{
            height: 10px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 5px;
    }


    }

</style>
{{/section}}



<div style="
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 5px;
">



<button class="link"><a href="/chat">Conversa <strong>aleatória</strong></a></button>
<button class="link"><a href="/crushs">Crush's🖤</a></button>
<button class="link"><a href="/config">Configurações ⚙</a></button>
</div>
{{#if newU}}
{{{newU}}}
{{/if}}
<p class="text">O Ifriends é um site de conversa aleatória em que você pode falar com qualquer pessoa com apenas um clique. Escolha entre ser um úsuario completamente anônimo ou opite por ter um nome e mostrar o seu gênero para as pessoas.</p>
<p class="text">Fale com desconhecidos clicando em <strong>conversa aleatória</strong>, ou se preferir mostrar o seu gênero para o parceiro do chat online, clique em <strong>crush's</strong>.</p>

<h2 class="text">Como iniciar uma conversa? ou puxar assunto na internet?</h2>
<ol class="text">
    <li><h3>Não seja um primata.</h3>
        <p>Por ser um chat anônimo, muitas pessoas aproveitam para agir de forma desagradável e deixando fluir o seu primata interior. Seja melhor que isso.</p>
    </li>

    <li><h3>Comece com o clássico, ou não...</h3>
        <p>O clássico "Oi! Tudo bem?" é o mais comum para quebrar o gelo, e nas suas respostas, sempre puxe o assunto para algo interessante, fazendo das respostas novas perguntas, ao invés de apenas responder "sim" e "não", resumindo, seja criativo!</p>
    </li>

    
    <li><h3>Pergunte, e fale de si mesmo.</h3>
        <p>Todo mundo gosta de falar de si mesmo e de como é incrível, fale sobre os seus interesses e pergunte os da pessoa também.</p>
    </li>


</ol>

{{#section 'script'}}
<script>


function valor_cookie(nome_cookie) {
    // Adiciona o sinal de = na frente do nome do cookie
    var cname =nome_cookie  + '=';
    
    // Obtém todos os cookies do documento
    var cookies = document.cookie;
    
    // Verifica se seu cookie existe
    if (cookies.indexOf(cname) == -1) {
        return false;
    }
    
    // Remove a parte que não interessa dos cookies
    cookies = cookies.substr(cookies.indexOf(cname), cookies.length);

    // Obtém o valor do cookie até o ;
    if (cookies.indexOf(';') != -1) {
        cookies = cookies.substr(0, cookies.indexOf(';'));
    }
    
    // Remove o nome do cookie e o sinal de =
    cookies = cookies.split('=')[1];
    
    // Retorna apenas o valor do cookie
    return decodeURI(cookies);
}

	var nomes = JSON.parse(valor_cookie('nomes'))
	var contatos = JSON.parse(valor_cookie('contatos'))

	if(valor_cookie('novo') == false){

	
		var data = new Date(2025,0,01);
data = data.toGMTString();
	document.cookie = 'novo= true; expires=' + data + ';';
    

	}
	

</script>
{{/section}}

	<footer>





<div id = "redes">
  <p>Caso fique intimidado, magoado, ou não se sinta bem em um chat, abandone a conversa, Pois nós não controlamos o que é dito nelas.</p>
</div>
<div id = "rotas">
    <a href="/chat">Chat</a>
    <a href="/config">Configurações</a>
	<a href="/sobre">Sobre</a>
    
</div>
</footer>

<div class="anuncio anuncio1">
    <div class="div1">
    <img class="logotipo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/603px-Amazon_logo.svg.png" alt="">
    <h1>{{product.title}}</h1>
    
           {{#if product.oldPrice}}
        <span style="font-size: 12px;">De: {{product.oldPrice}}<span  style="font-size: 12px; text-decoration:line-through;"></span> por apenas:</span>
        {{/if}}
        <h2>{{product.price}}</h2>
    </div>


    <div class="div2">
    <img id="item" src="{{product.image}}" alt="">
    <button class="link"><a target="_blank" href="{{product.link}}">comprar</a></button>
    </div>
</div>

<div class="anuncio anuncio2">
    <div class="div1">
    <img class="logotipo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/a9/Amazon_logo.svg/603px-Amazon_logo.svg.png" alt="">
    <h1>{{product.title}}</h1>
   
        {{#if product.oldPrice}}
        <span style="font-size: 12px;">De: <span  style="font-size: 12px; text-decoration:line-through;">{{product.oldPrice}} </span> por apenas:</span>
        {{/if}}
    <h2>{{product.price}}</h2>
    </div>

    <div class="div2">
    <img id="item" src="{{product.image}}" alt="">
    <button class="link"><a target="_blank" href="{{product.link}}">comprar</a></button>
    </div>
</div>