<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	
    <title>Chat</title>
	{{{_sections.head}}}
</head>
<style>


@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');
	*{
	font-family: 'Prompt', sans-serif;
	color: black;
	}
	
		#logo{
	

    top: 0;

    margin:0;
		z-index: 2;
	font-family: 'Yellowtail', cursive;

	    align-self: center;
	}
	
		h1#logo>a{
	margin-top: 0;
		z-index: 2;
	font-family: 'Yellowtail', cursive;
	backgroun: red;
	}
	
	
	a{
		text-decoration:none;
	}
	a[target = "_blank"]{
	text-decoration: underline;
	}
	
	a[target = "_blank"]::after{
		content : "🔗";
		
	}
	
	button>a{
	font-size: 14px;
	text-decoration: none;
	padding: 10px;
	height:100%;
	width: 100%;
	display: table-cell;
}
	button.link{
	padding: 0px;}
	
	
	button, input[type= submit]{

		    width: fit-content;
    padding: 5px;
	    border-radius: 10px;
    border: 1px solid silver;
	box-shadow: 0px 5px 10px 1px #00000014;
	transition: 200ms ease-in-out;
	}
	
	button:hover{
		
		box-shadow: none;
	}
	
	input[type='text']{



		    padding: 5px;
    margin: 5px;
    border-radius: 15px;
    border: 1px solid silver;
}
	
	body{
	    display: flex;
  
    padding: 10px;
    margin: 0px;
	 background-color: rgb(233 233 233 / 40%);
	 gap:5px;
	     align-items: center;
		     justify-content: center;
			 height: 100vh;
	}

	#container{
	    display: flex;
    flex-direction: column;
	    width: 100%;
		    align-items: center;
			    height: 100%;
				    justify-content: center;
	}

	
	#flash2{
		display: none;
	}

	.flash{
		    position: absolute;
        top: 0;
    margin: 10px auto;
z-index:3;
	background-color: white;
    font-weight: bold;
    border: 1px solid #00000017;
    border-radius: 20px;
	box-shadow: 0px 0px 10px 10px #00000017;
    padding: 10px;
    z-index: 3;
	animation-name: flash;
  animation-duration: {{flash.time}}s;
  
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
      text-align: center;
	}
	
	.flash *{
	margin-top:0;
	}
	
	.flash> h1{
		font-size: 20px;
	}

	.flashSafe{
		background-color: rgb(10,200,15);
	}
	
	.flashDanger{
	background-image: linear-gradient(#ffcdcd, #ffb3b3,#ff9090);
	}
	

	
	@keyframes flash{
		0%{ opacity:100%;}
		90%{ opacity:100%;
			
		}
		95%{
			opacity:80%;
		}
		
		100%{
		opacity:0%;
		z-index:-1;
		}
	}
	
	
	{{{_sections.style}}}
</style>
	<script>
	window.addEventListener('offline', (event) => {
		window.alert("Estamos com problemas de conecção...");
});
	
	
	function fechar(){
		document.getElementById('flash').style.display= "none"
	}
	
function valor_cookie(nome_cookie) {
    // Adiciona o sinal de = na frente do nome do cookie
    var cname =nome_cookie  + '=';
    
    // Obtém todos os cookies do documento
    var cookies = document.cookie;
    
    // Verifica se seu cookie existe
    if (cookies.indexOf(cname) == -1) {
        return false;
    }
    
    // Remove a parte que não interessa dos cookies
    cookies = cookies.substr(cookies.indexOf(cname), cookies.length);

    // Obtém o valor do cookie até o ;
    if (cookies.indexOf(';') != -1) {
        cookies = cookies.substr(0, cookies.indexOf(';'));
    }
    
    // Remove o nome do cookie e o sinal de =
    cookies = cookies.split('=')[1];
    
    // Retorna apenas o valor do cookie
    return decodeURI(cookies);
}
		
	
	</script>

{{#if flash}}
	


		
	<div id="flash" class="flash">

	<div class="{{flash.type}}">
		{{{flash.message}}}
	</div>

		</div>	

	
{{/if}}
	
	<body id="body">
<div id="container">
	<h1 id="logo"><a href="/">Ifriends</a></h1>
				{{{body}}}

	

	


	</div>
	</body>

	
	

	{{{_sections.script}}}
<html> 